<style>
#body {
background-color: ghostwhite;
}

#header {
    background-image: url("../images/banner-javascript.jpg");
    color:orangered;
    text-align:left;
    padding:5px;
	height:100px;
    width:540px;
}
#nav {
    line-height:30px;
    background-color:#eeeeee;
    height:500px;
    width:150px;
    float:left;
    padding:5px; 
}
#section {
    width:600px;
    float:left;
    padding:10px; 
}
#footer {
    background-color:orangered;
    color:white;
    clear:both;
    text-align:center;
    padding:5px; 
}
p#code {
font-family: "Lucida Console", Monaco, monospace;
color: seagreen;
font-size: 14px;
text-align: -webkit-center
}
</style>

